@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050505;
  color: white;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* === Animación para el Carrusel Infinito === */
@keyframes infinite-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); } /* CAMBIO VITAL: Ahora es -100% */
}

.animate-infinite-scroll {
  /* Bajamos la velocidad a 40 segundos para que puedas leer bien los logos */
  animation: infinite-scroll 80s linear infinite; 
}

/* Esta clase pausa ambos vagones al mismo tiempo cuando pasas el mouse */
.carousel-track:hover .animate-infinite-scroll {
  animation-play-state: paused;
}